.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-decoration: none;
  }
  
.nav li:first-child {
    padding-left: 0;
  }

.nav li:last-child {
    margin-left: 1300px;
  }

li {
    list-style-type: none;
    padding: 10px;
    text-decoration: none;
  }