.new-question {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-button {
    width: 100%;
    border-radius: 10px;
}

.poll-question {
    border-radius: 10px;
    margin: 10px;
}